* {
    border: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--fourth-color);
    color: #424242;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-size: 16px;
    padding-top: 110px;
}

@media (min-width: 992px) {
    body {
        padding-top: 156px;
    }
}

:root {
    --first-color: #590222;
    --second-color: #422736;
    --third-color: #FFFFFF;
    --fourth-color: #C4C4C4;
    --fifth-color: #FF0000;
    --sixth-color: #C2BFAE;
    --seventh-color: #DEE65E;
}

.header {
    position: fixed;
    background: var(--first-color);
    padding: 10px;
    width: 100%;
    height: 80px;
    top: 0;
}

/* HEADER */

.header>div {
    display: flex;
    align-items: center;
}

.logo-header {
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 992px) {
    .header {
        height: 120px;
    }
}

/* SUB-HEADER */

.sub-header {
    background: var(--second-color);
    display: flex;
    justify-content: space-evenly;
    position: fixed;
    align-items: center;
    width: 100%;
    height: 40px;
    margin-top: 80px;
    top: 0;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.sub-header a {
    color: #FFFFFF;
    font-size: 14px;
    text-decoration: none;
}

@media (min-width: 992px) {
    .sub-header {
        margin-top: 120px;
    }
}

/* CARRINHO */

#btn-gift {
    width: 60px;
    height: 60px;
    background: var(--first-color);
    color: var(--third-color);
    font-size: 30px;
    position: relative;
    cursor: pointer;
}

.btn-cart-badge {
    position: absolute;
    bottom: 5px;
    right: 5px;
    border: 1px solid #FFFFFF;
    border-radius: 100%;
    width: 20px;
    height: 20px;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--first-color);
}
.btn-cart-badge-show {
    display: flex;
}
@media (min-width: 992px) {
    .logo-header {
        height: 100px;
        width: auto;
    }
}

/* CONTAINER */

.container {
    padding-left: 12px;
    padding-right: 12px;
}

@media (min-width: 576px) {
    .container {
        width: 540px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (min-width: 768px) {
    .container {
        width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1140;
    }
}

@media (min-width: 1400px) {
    .container {
        width: 1320px;
    }
}

.error-alert {
    background-color: var(--fifth-color);
    color: #FFFFFF;
    border: 1px solid var(--third-color);
    border-radius: 5px;
    padding: 10px 15px;
}

.products-loading {
    display: block;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 24px;
    color: var(--first-color);
    animation: loading 2s infinite linear;
}

@keyframes loading {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.sub-header-image {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

@media (min-width: 992px) {
    .sub-header-image img {
        height: 300px;
        width: auto;
    }
}

/* TITLES */
h2, .h2 {
    background: var(--second-color);
    color: var(--third-color);
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    margin: 20px 0 15px;
    padding: 10px;
    height: 40px;
}

h3, .h3 {
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 8px;
    padding: 15px;
}

h4, .h4 {
    font-weight: 600;
    font-size: 16px;
}

h5 {
    font-size: 10px;
}

.card p {
    font-size: 14px;
    margin-bottom: 10px;
}

.card {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.25);
    overflow: hidden;
}

.card img {
    width: 100%;
    height: auto;
    display: block;
}

.card-content {
    flex-grow: 1;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.card-content .btn {
    margin-top: auto;
}

/* PONTOS */

.points {
    color: var(--first-color);
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 20px;
}

/* BUTTONS */
.btn {
    font-weight: 600;
    text-align: center;
    font-size: 16px;
    background-color: var(--sixth-color);
    color: var(--second-color);
    border: 1px solid var(--second-color);
    border-radius: 5px;
    display: block;
    margin-bottom: 20px;
    width: 100%;
    padding: 10px 0;
    cursor: pointer;
    transition: all .3s linear;
}

.btn:hover {
    background-color: var(--first-color);
    color: var(--fourth-color);
}
.btn-main {
    background-color: var(--second-color);
    color: #C2BFAE;
}
.btn-main:hover {
    background-color: #590222;
}

/* CARDS BENEFICIOS */

.card-desconto {
    background-color: var(--third-color);
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.25);
    overflow: hidden;
}

.card-desconto img {
    width: 100%;
    height: auto;
    display: block;
}

.card-content-desconto {
    flex-grow: 1;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.card-content-desconto .btn-desconto {
    margin-top: auto;
}

.btn-desconto {
    font-weight: 600;
    text-align: center;
    font-size: 16px;
    background-color: var(--sixth-color);
    color: var(--second-color);
    border-radius: 5px;
    display: block;
    margin-bottom: 20px;
    width: 100%;
    padding: 10px 0;
    cursor: pointer;
    transition: all .3s linear;
}

.btn-desconto:hover {
    background-color: var(--first-color);
    color: var(--fourth-color);
}

/* GIFTS GRID */
.gifts-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    grid-auto-rows: 1fr;
}

@media (min-width: 576px) {
    .gifts-grid {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (min-width: 992px) {
    .gifts-grid {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

/* FOOTER */
.footer-content {
    display: grid;
    background-color: var(--first-color);
    color: var(--third-color);
    height: 150px;
    margin-top: 15px;
    bottom: 0;
}

.footer-menu-icon {
    margin-top: 20px;
    margin-bottom: auto;
}

.footer-menu-icon i {
    font-size: 12px;
    color: var(--seventh-color);
}

.footer-icon i {
    font-size: 16px;
    text-decoration: none;
    color: white;
    padding-right: 5px;
    margin-top: 5px;
}

.footer-menu a {
    text-decoration: none;
    color: var(--third-color);
    display: flex;
    flex-direction: column;
    font-size: 14px;
    margin-top: 10px;
}

/* CART SIDEBAR */
.gift-sidebar {
    position: fixed;
    background: var(--third-color);
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    display: none;
    flex-direction: column;
    padding: 15px;
}

.gift-sidebar-open {
    display: flex;
}

#btn-close-gift {
    font-size: 30px;
    color: var(--first-color);
    background: transparent;
    align-self: flex-end;
}

#empty-gift {
    flex-grow: 1;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#empty-gift .fa-gift {
    font-size: 130px;
    color: #590222;
    opacity: 0.2;
    margin-bottom: 25px;
}
#card-with-products {
    overflow: scroll;
    display: none;
}

#card-with-products ul {
    list-style: none;
}
#card-with-products li {
    display: flex;
    align-items: flex-start;
    gap: 15px;
    border-bottom: 1px solid var(--second-color);
    padding: 12px 0;
}
#card-with-products li img {
    border-radius: 5px;
    object-fit: cover;
}
#card-with-products li .form-input {
    width: 70px;
    text-align: center;
    align-self: center;
}
#card-with-products li button {
    color: var(--first-color);
    font-size: 15px;
    width: 30px;
    height: 30px;
    align-self: center;
    background: transparent;
    cursor: pointer;
}
#card-with-products li div {
    flex-grow: 1;
}
.card-total {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
}
.card-total p:last-child {
    font-size: 16px;
}
.card-total .h3 {
    margin: 0;
}
@media (min-width: 768px) {
    .gift-sidebar {
        width: 430px;
        box-shadow: -3pc 0px 6px rgba(0, 0, 0, 0.15);
    }
}
/* Formularios */
.form-input {
    border: 1px solid #590222;
    border-radius: 5px;
    align-items: flex-start;
    height: 40px;
    font-family: inherit;
    font-size: 16px;
    padding: 10px
}